h2{
    color: rebeccapurple;

}

.cat {
    width: 20em;
    height: 20em;
    
}

.counterBlock{
    display: flex;
    justify-content: center;
}

.content{
    display: flex;
}

.name {
    display: flex;
    justify-content: center;
}