h2{
    color: rebeccapurple;
    display: flex;
    justify-content: center;

}

.cat {
    width: 20em;
    height: 20em;
  
    
}

.counterBlock{
    display: flex;
    justify-content: center;
}

.nameSection{
    display: flex;
}

.name {
    display: flex;
    justify-content: center;
}

.catnames{
    
    font-weight: bold;
    color: rebeccapurple;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.catname {
    margin: 1em;
}